<% layout('Layouts/boilerplate') %>

<div class="container">
    <div class="flex-column">
      <div class="col-sm mt-2 mb-5">
          <h2>Reaching India by Air</h2>
          <p>India has four major airports at Delhi, Mumbai, Chennai and Kolkata. The Chhatrapati Shivaji International Airport (Mumbai) and the Indira Gandhi International Airport (Delhi) are some of the best airports in the world. The other major airports are at Bangalore, Hyderabad and Kochi. There are numerous non-stop and direct flights to these airports from all the major countries in the world. Major Indian airlines include Air India, Jet Airways and Indigo. The secondary points of entry to India are through Jaipur, Goa, Trivandrum, Trichy, Coimbatore, Madurai, Ahmedabad and Pune</p>
      </div>
      <div class="col-sm">
           <h2>Reaching India by Bus</h2>
           <p>The air-conditioned Delhi-Lahore bus connects India and Pakistan, running all days of the week except Sundays. There are several bus services which connect Kathmandu in Nepal to various cities in India including Delhi and Gorakhpur. There are bus routes between Dhaka in Bangladesh and Kolkata in India as well.</p>
      </div>
      <div class="col-sm">
        <h2>Reaching India by Rail</h2>
        <p>India has two train links to Pakistan - The Samjhauta Express from Lahore to Attari in Amritsar and the Thar Express from Munabao in Rajasthan to Khokrapar in Pakistan. However, these crossing lines are not open to tourists. The Moitree Express runs between Dhaka in Bangladesh and Kolkata in India four times a week.</p>
       </div>
       <div class="col-sm">
        <h2>Reaching India by Road</h2>
        <p>There is a land crossing between Pakistan and India (Lahore to Amritsar) via the Attari/Wagah border crossing. You will require a Carnet de Passage if you plan to travel by your own vehicle. There is also a border crossing between India and Myanmar but special permits are required to cross this.</p>
       </div>
       <div class="col-sm">
        <h2>Reaching India by Water</h2>
        <p>Kochi, Mumbai, Goa and Mangalore are the major ports in India handling passenger traffic. Costa Cruise Lines running between Maldives, Sri Lanka and India is a feasible option to reach India by waterways.</p>
       </div>
    </div>
  </div>
